tbody{
    text-align: center;
}
.choose td{
    background-color: rgba(200, 50, 40, 0.1);
}
.choose .selected{
    background-color: rgba(50, 200, 40, 0.1);
}
.choose .empty{
    background-color: rgba(0, 0, 0, 0.01);
}

textarea{
    width:80%;
    font-size:1.1em;
}

.debug {
    display:none;
}

#y:checked + .young-container {
    display: none;
}

input{
    width:10%;
    text-align:center;
}

#generate{
    font-size:1.1em;
}
