.panel-heading {
    position: relative;
}

.panel-buttons {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 2em;
    height: 100%;
}

.panel-buttons span {
    line-height: 100%; 
    vertical-align: middle;
    margin: 0.5em;
}

.panel-heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.panel-heading > .heading-div > .glyphicon{
    margin-right: 0.5em;
}